@font-face{
    font-family: 'ArcadeClassic';
    src: url('../fonts/ARCADECLASSIC.TTF');
}
@font-face{
    font-family: 'Karmatic Arcade';
    src: url('../fonts/ka1.TTF');
}

.imagen {
    -fx-background-image: url(../images/Fondo.gif);
    -fx-background-size: 600.0px 400.0px;
    -fx-background-repeat: no-repeat;
}

.titulo {
	 -fx-font-family: 'ArcadeClassic';
}

.dark-blue {
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: 'Karmatic Arcade';
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -margin-left:10.0%;
}