@font-face{
    font-family:'ArcadeClassic';
    src:url('../fonts/ARCADECLASSIC.TTF');
}
@font-face{
    font-family:'Karmatic Arcade';
    src:url('../fonts/ka1.TTF');
    
}


.imagen{
    -fx-background-image:url(../images/Fondo.gif);
    -fx-background-size:600px 400px;
    -fx-background-repeat: no-repeat;
}
.titulo{
	 -fx-font-family: 'ArcadeClassic';
}
.botones{
	-fx-font-family: 'Karmatic Arcade';
	-margin-left:10%;
}