@font-face{
	font-family:'ArcadeClassic';
	src:url('../fonts/ARCADECLASSIC.TTF');
}
.root {
	-fx-font-family: 'ArcadeClassic'
}
.text{
	
}
body{
	-overflow-y:hiden;
}
.imagen{
	-fx-background-image:url(../images/FondoSelect.gif);
	-fx-background-size:600px 400px;
	-fx-background-repeat:no-repeat;
}
.jueg01Lock{
	-fx-background-image:url(../images/PongLock.jpg);
	-fx-background-size:200px,200px;-fx-background-size:cover,contain;
}
.jueg02Lock{
	-fx-background-image:url(../images/BrickLock.jpg);
	-fx-background-size:200px,200px;-fx-background-size:cover,contain;
}
.jueg03Lock{
	-fx-background-image:url(../images/SnakeLock.jpg);
	-fx-background-size:200px,200px;-fx-background-size:cover,contain;
}
.jueg04Lock{
	-fx-background-image:url(../images/LabLock.jpg);
	-fx-background-size:200px,200px;-fx-background-size:cover,contain;
}
.fondogrid1{
	-fx-background-image:url(../images/FondoSelec.gif);
	-fx-background-size:cover,contain;
}
.fondogrid12{
	-fx-background-image:url(../images/FondoSelec.gif);
	-fx-background-size:cover,contain;
}
.fondogrid3{
	-fx-background-image:url(../images/FondoSelec.gif);
	-fx-background-size:cover,contain;
}
.fondogrid4{
	-fx-background-image:url(../images/FondoSelec.gif);
	-fx-background-size:cover,contain;
}
.dark-blue {
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: 'Karmatic Arcade';
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -margin-left:10.0%;
}

.botones:hover{-fx-background-color:#254055}
