@font-face{
	font-family:'ArcadeClassic';
	src:url('../fonts/ARCADECLASSIC.TTF');
}
.root {
	-fx-font-family: 'ArcadeClassic'
}
.text{
	
}
.imagen{
	-fx-background-image:url(../images/fondoselect2.gif);
	    -fx-background-size: 800px 600px;
   		-fx-background-repeat: no-repeat;
}