@font-face{
	font-family:'ArcadeClassic';
	src:url('../fonts/ARCADECLASSIC.TTF');
}
.root {
	-fx-font-family: 'ArcadeClassic'
}
.text{
	
}
.imagen{
	-fx-background-image:url(../images/hugefondosonido.png);
}